<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%m%n</pattern>
        </encoder>
    </appender>
    <logger name="org.springframework" level="error"/>
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
